<div class="bg-white rounded-lg shadow-sm border border-gray-200">
    <div class="p-6 border-b border-gray-200">
        <h2 class="text-xl font-semibold text-gray-800">Conducteurs Récentes</h2>
    </div>
    <div class="overflow-x-auto">
        <table class="w-full">
            <thead class="bg-gray-50">
                <tr>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Conducteur ID</th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Nom et prénom</th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Email</th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Numéro de permis</th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Disponibilité</th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Actions</th>
                </tr>
            </thead>
            <tbody class="divide-y divide-gray-200">
                <tr *ngFor="let conducteur of conducteurs">
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">#{{ conducteur.id }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">
                        <span class="ml-2 text-sm text-gray-900">{{ conducteur.prenom }} {{ conducteur.nom }}</span>
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">{{ conducteur.email }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">{{ conducteur.numeroPermis }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">
                        <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full"
                              [ngClass]="{
                                'bg-green-100 text-green-800': conducteur.disponibilite === 'DISPONIBLE',
                                'bg-red-100 text-red-800': conducteur.disponibilite !== 'DISPONIBLE'
                              }">
                            {{ conducteur.disponibilite }}
                        </span>
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">
                        <button (click)="deleteConducteur(conducteur.id)"
                                class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-red-100 hover:bg-red-200 text-red-800">
                            Supprimer
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>